<app-navbar></app-navbar>

<!-- <app-city></app-city> -->
<!-- <app-pincode></app-pincode> -->
<!-- <app-category></app-category> -->
<!-- <app-subcategory></app-subcategory> -->
<!-- <ul class = "list-group list-group-horizontal">
	<li id = "seller" class = "list-group-item" routerLinkActive = "custom-active" [routerLinkActiveOptions] = "{exact:true}">
    <a routerLink = "/">seller</a>
  </li>
<li id = "city" class = "list-group-item" routerLinkActive = "custom-active">
  <a [routerLink] = "'/city'">city</a>
</li>
<li id = "pincode" class = "list-group-item" routerLinkActive = "custom-active">
  <a routerLink ="/pincode">pincode</a>
</li>
<li class = "list-group-item" routerLinkActive = "custom-active">
  <a routerLink ="/category">category</a>
</li>
<li class = "list-group-item" routerLinkActive = "custom-active">
  <a routerLink ="/subcategory">subcategory</a>
</li>
<li class = "list-group-item" routerLinkActive = "custom-active">
  <a routerLink = "/customer">customer</a>
</li>
<li class = "list-group-item" routerLinkActive = "custom-active">
  <a routerLink = "/customer-reg">customer-reg</a>
</li>
<li class = "list-group-item" routerLinkActive = "custom-active">
<a routerLink = "/product">Products</a>
</li>
<li class = "list-group-item" routerLinkActive = "custom-active">
  <a routerLink = "/test">test</a>
  </li>
</ul> -->
<router-outlet></router-outlet>


<app-footer></app-footer>