<form ngForm #frm= "ngForm" (ngSubmit)= "onSubmit(frm)">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label for="start">Start date:</label>

 <input name= "startDate" ngModel type="date" id="start">
      </div>
      <div class="col-auto">
        <label for="start">End date:</label>

        <input type="date" id="start" name="endDate" ngModel>
      </div> 
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
  </form>

  <form ngForm #monthFrm = "ngForm" (ngSubmit)= "monthlyRevenue(monthFrm)">
    <div class="form-row align-items-center">
        <div id="YearDiv" name = "year" >
            <span class = "m-2">Year:</span>
            <select id='year' name = "year" ngModel>
            <option value=''>--Select Year--</option>
            <option *ngFor = "let year of yearsList" [value]='year'>{{year}}</option>
            
            </select> 
            </div>
      <div >
        <span class = "m-2">Start Month:</span>
        <select name="startMonth" [(ngModel)]="startMonth"> 
            <option *ngFor="let month of monthList" [value]="month">{{month}}</option> 
        </select>  
        </div>
        <div >
            <span class = "m-2">End Month:</span>
            <select name="endMonth" [(ngModel)]="endMonth"> 
                <option *ngFor="let month of monthList" [value]="month">{{month}}</option> 
            </select> 
            </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
  </form>


<!-- Dashboard Charts -->
<div class ="container mt-3">
    <div class="row">
        <div class="col-xl-6">
            <!-- Lines Chart -->
            <div class="block block-rounded">
                <div class="block-header">
                    <h3 class="block-title">Lines</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full text-center">
                    <div class="py-3">
                        <!-- Lines Chart Container -->
                        <canvas #lineCanvas class="js-chartjs-lines"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Lines Chart -->
        </div>
        <div class="col-xl-6">
            <!-- Bars Chart -->
            <div class="block block-rounded">
                <div class="block-header">
                    <h3 class="block-title">Bars</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full text-center">
                    <div class="py-3">
                        <!-- Bars Chart Container -->
                        <canvas #barCanvas class="js-chartjs-bars"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Bars Chart -->
        </div>
        <div class="col-xl-6">
            <!-- Radar Chart -->
            <div class="block block-rounded">
                <div class="block-header">
                    <h3 class="block-title">Radar</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full text-center">
                    <div class="py-3">
                        <!-- Radar Chart Container -->
                        <canvas #radarCanvas class="js-chartjs-radar"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Radar Chart -->
        </div>
        <div class="col-xl-6">
            <!-- Polar Area Chart -->
            <div class="block block-rounded">
                <div class="block-header">
                    <h3 class="block-title">Polar Area</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full text-center">
                    <div class="py-3">
                        <!-- Polar Area Chart Container -->
                        <canvas class="js-chartjs-polar"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Polar Area Chart -->
        </div>
        <div class="col-xl-6">
            <!-- Pie Chart -->
            <div class="block block-rounded">
                <div class="block-header">
                    <h3 class="block-title">Pie</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full text-center">
                    <div class="py-3">
                        <!-- Pie Chart Container -->
                        <canvas class="js-chartjs-pie"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Pie Chart -->
        </div>
        <div class="col-xl-6">
            <!-- Donut Chart -->
            <div class="block block-rounded">
                <div class="block-header">
                    <h3 class="block-title">Donut</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full text-center">
                    <div class="py-3">
                        <!-- Donut Chart Container -->
                        <canvas class="js-chartjs-donut"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Donut Chart -->
        </div>
    </div>
    </div>
<!-- END Dashboard Charts -->